In [2]:
import pandas as pd
import numpy as np

# Tugas 1 Data Integration

## Bank Additional

In [10]:
data1=pd.read_csv("bank1.csv",sep=";")

In [11]:
data2=pd.read_csv("bank2.csv",sep=";")

In [12]:
data1

,age,job,marital,education,default,housing,loan,contact
0,30,blue-collar,married,basic.9y,no,yes,no,cellular
1,39,services,single,high.school,no,no,no,telephone
2,25,services,married,high.school,no,yes,no,telephone
3,38,services,married,basic.9y,no,unknown,unknown,telephone
4,47,admin.,married,university.degree,no,yes,no,cellular
5,32,services,single,university.degree,no,no,no,cellular
6,32,admin.,single,university.degree,no,yes,no,cellular
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular
8,31,services,divorced,professional.course,no,no,no,cellular
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone
10,25,services,single,basic.6y,unknown,yes,no,cellular
11,36,self-employed,single,basic.4y,no,no,no,cellular
12,36,admin.,married,high.school,no,no,no,telephone
13,47,blue-collar,married,basic.4y,no,yes,no,telephone
14,29,admin.,single,high.school,no,no,no,cellular
15,27,services,single,university.degree,no,no,no,cellular
16,44,admin.,divorced,university.degree,no,no,no,cellular
17,46,admin.,divorced,university.degree,no,yes,no,telephone
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular
19,50,blue-collar,married,basic.4y,no,no,yes,cellular
20,55,services,married,basic.6y,unknown,yes,no,cellular
21,39,technician,divorced,high.school,no,no,no,cellular
22,29,technician,single,university.degree,no,yes,yes,cellular
23,40,management,married,high.school,no,no,yes,cellular
24,44,technician,married,professional.course,unknown,yes,no,telephone
25,38,technician,married,professional.course,no,yes,no,cellular
26,36,technician,divorced,professional.course,no,no,no,telephone
27,28,blue-collar,married,basic.6y,unknown,no,no,cellular
28,47,admin.,single,unknown,unknown,no,no,telephone
29,34,admin.,married,university.degree,no,no,no,cellular
...,...,...,...,...,...,...,...,...
70,39,technician,single,professional.course,unknown,no,no,telephone
71,51,services,married,high.school,unknown,yes,no,telephone
72,28,admin.,single,high.school,no,yes,no,cellular
73,34,management,married,university.degree,no,yes,no,cellular
74,31,technician,single,high.school,no,yes,yes,cellular
75,31,admin.,married,university.degree,no,yes,no,cellular
76,31,admin.,single,university.degree,no,yes,no,telephone
77,38,self-employed,single,university.degree,no,no,no,telephone
78,33,unemployed,married,basic.9y,no,no,no,telephone
79,32,technician,single,university.degree,no,no,no,cellular
80,54,technician,married,professional.course,unknown,yes,no,cellular
81,41,admin.,divorced,high.school,no,yes,no,telephone
82,59,services,married,basic.4y,unknown,no,no,cellular
83,57,retired,married,university.degree,no,yes,no,cellular
84,38,entrepreneur,divorced,university.degree,no,yes,no,cellular
85,46,admin.,married,university.degree,no,yes,no,telephone
86,37,unemployed,single,university.degree,no,yes,yes,cellular
87,47,services,single,basic.9y,no,unknown,unknown,telephone
88,45,admin.,single,university.degree,no,no,no,cellular
89,36,blue-collar,married,basic.6y,no,yes,no,telephone
90,40,unemployed,single,high.school,no,yes,no,cellular
91,38,blue-collar,married,basic.9y,no,no,no,cellular
92,44,blue-collar,married,high.school,unknown,no,no,telephone
93,25,self-employed,married,university.degree,no,yes,no,telephone
94,30,blue-collar,single,basic.6y,no,yes,no,telephone
95,43,management,married,professional.course,no,no,no,cellular
96,58,retired,married,basic.6y,unknown,no,no,telephone
97,31,technician,married,professional.course,no,yes,no,telephone
98,53,management,married,university.degree,no,no,no,cellular
99,52,admin.,married,unknown,no,no,no,cellular

In [13]:
data2

,age,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
5,32,sep,thu,128,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6
6,32,sep,mon,290,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6
7,41,nov,mon,44,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
8,31,nov,tue,68,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
9,35,may,thu,170,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
10,25,jul,thu,301,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
11,36,jul,thu,148,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
12,36,may,wed,97,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
13,47,jun,thu,211,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
14,29,may,fri,553,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
15,27,jul,wed,698,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
16,44,jul,wed,191,6,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1
17,46,jul,mon,59,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
18,45,aug,mon,38,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
19,50,jul,tue,849,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
20,55,jul,tue,326,6,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
21,39,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
22,29,aug,wed,626,3,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
23,40,aug,wed,119,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
24,44,may,fri,388,7,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0
25,38,aug,mon,479,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
26,36,may,wed,446,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
27,28,may,mon,68,2,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1
28,47,may,thu,127,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
29,34,aug,tue,109,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,39,jun,mon,432,4,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
71,51,jul,mon,596,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
72,28,may,tue,59,3,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1
73,34,may,wed,77,4,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1
74,31,aug,tue,768,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
75,31,aug,thu,96,5,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1
76,31,jun,wed,357,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
77,38,may,thu,459,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
78,33,jun,fri,11,6,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
79,32,aug,tue,264,12,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
80,54,apr,mon,698,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
81,41,jun,tue,204,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
82,59,aug,thu,93,7,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
83,57,apr,thu,374,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1
84,38,nov,thu,252,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
85,46,may,tue,158,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
86,37,nov,tue,95,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
87,47,jun,thu,835,3,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
88,45,aug,thu,505,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
89,36,jul,wed,16,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
90,40,jul,mon,300,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
91,38,nov,tue,180,2,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
92,44,jun,tue,390,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
93,25,may,fri,274,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
94,30,jul,tue,135,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
95,43,nov,tue,257,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
96,58,may,mon,268,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
97,31,may,wed,157,6,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
98,53,jul,tue,477,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
99,52,aug,tue,91,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1

In [14]:
data=pd.merge(data1, data2, on="age")

In [15]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,30,blue-collar,married,basic.9y,no,yes,no,cellular,jun,tue,256,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
2,30,blue-collar,married,basic.9y,no,yes,no,cellular,jul,tue,135,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
3,30,blue-collar,single,basic.4y,unknown,yes,no,telephone,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
4,30,blue-collar,single,basic.4y,unknown,yes,no,telephone,jun,tue,256,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
5,30,blue-collar,single,basic.4y,unknown,yes,no,telephone,jul,tue,135,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
6,30,blue-collar,single,basic.6y,no,yes,no,telephone,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
7,30,blue-collar,single,basic.6y,no,yes,no,telephone,jun,tue,256,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
8,30,blue-collar,single,basic.6y,no,yes,no,telephone,jul,tue,135,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
9,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
10,39,services,single,high.school,no,no,no,telephone,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
11,39,services,single,high.school,no,no,no,telephone,may,thu,412,2,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
12,39,services,single,high.school,no,no,no,telephone,aug,fri,215,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
13,39,services,single,high.school,no,no,no,telephone,jun,mon,432,4,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
14,39,technician,divorced,high.school,no,no,no,cellular,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
15,39,technician,divorced,high.school,no,no,no,cellular,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
16,39,technician,divorced,high.school,no,no,no,cellular,may,thu,412,2,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
17,39,technician,divorced,high.school,no,no,no,cellular,aug,fri,215,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
18,39,technician,divorced,high.school,no,no,no,cellular,jun,mon,432,4,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
19,39,management,single,university.degree,unknown,no,no,cellular,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
20,39,management,single,university.degree,unknown,no,no,cellular,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
21,39,management,single,university.degree,unknown,no,no,cellular,may,thu,412,2,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
22,39,management,single,university.degree,unknown,no,no,cellular,aug,fri,215,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
23,39,management,single,university.degree,unknown,no,no,cellular,jun,mon,432,4,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
24,39,management,married,high.school,no,no,no,cellular,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
25,39,management,married,high.school,no,no,no,cellular,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
26,39,management,married,high.school,no,no,no,cellular,may,thu,412,2,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
27,39,management,married,high.school,no,no,no,cellular,aug,fri,215,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
28,39,management,married,high.school,no,no,no,cellular,jun,mon,432,4,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
29,39,technician,single,professional.course,unknown,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,48,technician,married,university.degree,no,no,no,cellular,aug,thu,42,7,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1
357,20,student,single,unknown,no,no,no,cellular,oct,mon,137,3,999,3,failure,-1.1,94.601,-49.5,0.977,4963.6
358,76,retired,married,university.degree,no,no,no,cellular,aug,thu,126,1,999,1,failure,-1.7,94.027,-38.3,0.899,4991.6
359,56,retired,married,university.degree,no,yes,no,cellular,jun,wed,252,1,999,2,failure,-2.9,92.963,-40.8,1.260,5076.2
360,24,technician,married,university.degree,no,yes,yes,cellular,sep,tue,89,2,3,1,success,-3.4,92.379,-29.8,0.770,5017.5
361,58,entrepreneur,divorced,university.degree,no,no,no,telephone,jun,thu,40,2,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
362,58,entrepreneur,divorced,university.degree,no,no,no,telephone,may,mon,268,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
363,58,retired,married,basic.6y,unknown,no,no,telephone,jun,thu,40,2,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
364,58,retired,married,basic.6y,unknown,no,no,telephone,may,mon,268,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
365,60,admin.,divorced,professional.course,no,yes,no,cellular,sep,wed,481,1,999,1,failure,-1.1,94.199,-37.5,0.886,4963.6
366,37,blue-collar,married,basic.9y,no,yes,no,cellular,may,wed,204,2,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
367,37,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,395,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1
368,37,blue-collar,married,basic.9y,no,yes,no,cellular,nov,tue,95,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
369,37,self-employed,married,university.degree,no,no,no,cellular,may,wed,204,2,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
370,37,self-employed,married,university.degree,no,no,no,cellular,may,fri,395,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1
371,37,self-employed,married,university.degree,no,no,no,cellular,nov,tue,95,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
372,37,unemployed,single,university.degree,no,yes,yes,cellular,may,wed,204,2,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
373,37,unemployed,single,university.degree,no,yes,yes,cellular,may,fri,395,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1
374,37,unemployed,single,university.degree,no,yes,yes,cellular,nov,tue,95,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
375,52,admin.,married,unknown,no,yes,no,telephone,apr,wed,403,1,6,1,success,-1.8,93.749,-34.6,0.654,5008.7
376,52,admin.,married,unknown,no,yes,no,telephone,aug,tue,91,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1
377,52,admin.,married,unknown,no,no,no,cellular,apr,wed,403,1,6,1,success,-1.8,93.749,-34.6,0.654,5008.7
378,52,admin.,married,unknown,no,no,no,cellular,aug,tue,91,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1
379,42,blue-collar,divorced,basic.6y,no,yes,no,cellular,may,wed,16,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1
380,49,technician,divorced,unknown,no,yes,yes,cellular,oct,thu,81,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5
381,54,technician,married,professional.course,unknown,yes,no,cellular,apr,mon,698,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
382,59,services,married,basic.4y,unknown,no,no,cellular,aug,thu,93,7,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
383,57,retired,married,university.degree,no,yes,no,cellular,apr,thu,374,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1
384,43,management,married,professional.course,no,no,no,cellular,nov,tue,257,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
385,53,management,married,university.degree,no,no,no,cellular,jul,tue,477,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1